apiVersion: apps/v1
kind: Deployment
metadata:
  name: ccdcca2
  labels:
    app: ccdcca2
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ccdcca2
  template:
    metadata:
      labels:
        app: ccdcca2
    spec:
      containers:
        - name: ccdcca2
          image: vijaytalsangi/ccdcca2:latest
          ports:
            - containerPort: 3000
          env:
            - name: NODE_ENV
              value: "development"
            - name: LOG_LEVEL
              value: "info"
            - name: JWT_SECRET
              value: "production-jwt-secret-change-in-development"
            - name: ARCJET_KEY
              value: "ajkey_01k5pb491aedsadr5m7jb153te"
            - name: DATABASE_URL
              value: "postgresql://neondb_owner:npg_E1xUGlNh6gec@ep-morning-voice-a14ua947-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          readinessProbe:
            httpGet:
              path: /readyz
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /healthz
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 20